.rad-dropdowns-element {
  border: 1px solid #e9e9e9;
  padding: 0.5rem;
  margin: 15px 0;
}

.rad-option-element {
  border: 1px solid #e9e9e9;
  padding: 0.5rem;
  margin: 15px 0;
}

.rad-element {
  border: 1px solid #e9e9e9;
  padding: 0.5rem;
  margin: 15px 0;
}
